{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="page-section mb-0" id="about">
    <div class="container d-flex align-items-center flex-column">
        <!-- About Section Heading-->
        <h2 class="text-center text-uppercase">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row row-cols-auto card card-body">
            <div class="text-center"><p class=""><h5>Pagina web creada como proyecto de coderhouse.</h5></div>
            <div class="text-center"><p class="lead"><a>Me llamo Alina Marquez, tengo 19 años. Soy una estudiante de programación, 
                que recien empieza la carrera, por lo que decidí hacer este curso de python con el fin de aprender tambien por mi cuenta y 
                ya adentrarme un poco en este mundo.
                Huellitas fue creada como proyecto final para el curso de Python de CoderHouse, 
                desarrollada con todos los conocimientos adquiridos a lo largo de la cursada. La temática fue diseñada como una pagina estilo blog para 
                compartir sobre los animales.</a></div>
        </div>

    </div>
</section>


{% endblock %}