{% extends 'base.html' %}

{% load static %}

{% block content %}


{% for detalle in detalles %}
<div class="text-center">

    <h1>{{detalle.titulo}}</h1>
    <h2 class="my-2 h5 text-muted">{{detalle.date|date:'F jS Y'}}</h2>
  
    <div class="container card d-flex align-items-center flex-column my-4">
    {% if detalle.imagen %}
    <img src="{{ detalle.imagen.url }}" width="350px"/>
    {% endif %}
  
    <p>{{detalle.descripcion}}</p>

    {% if detalle.owner == user %}
    <p><a href="{% url 'eliminar blog' detalle.id%}">eliminar</a> <a href="{% url 'editar blog' detalle.id%}">editar</a></p>
    {% endif %}

    </div>
    <a href="{% url 'blogs' %}">

        <button> ➳ volver </button>
    
    </a>
</div>

{% endfor %}

{% endblock %}

