{% extends 'base.html' %}

{% load static %}

{% block content %}
<header class="text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Subheading-->
       <h5><p class="masthead-subheading font-weight-light mb-0">pagina web para los amantes de los animales! comienza a crear blogs ya sea con información, curiosidades, características o por simple diversion sobre cualquier animal que desees. Tambien si deseas adoptar hay animalitos buscando un hogar!</p></h5>
    </div>

</header>

{% endblock %}