{% extends 'base.html' %}

{% load static %}

{% block content %}

<header>
    <div class="">
        <!-- Masthead Heading-->
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-heading text-uppercase mb-0">Bienvenido {{ request.user.username }} </h1>
        <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
    </div>
</header>

<div class="card-body">
    <img class="mb-5" src="{% static 'assets/img/portfolio/foto-pagina.jpeg' %}" width="350px" style="float:left;" />
    <div><h5> 
        <p></p>            
        Pagina web para los amantes de los animales! comienza a crear blogs 
        <p> ya sea con información, curiosidades, características o por simple diversion. </p>
        Tambien si deseas adoptar hay animalitos buscando un hogar!
        </h5>
    </div>
</div>

{% endblock %}